name: TNXGã®Publish
on:
  push:
    branches:
      - master
  watch:
    types: [started]

jobs:
  HexoBlogBuild:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
          registry-url: https://registry.npmjs.org/

      - name: Get current date
        id: date
        run: |
          echo "::set-output name=today::$(date +'%Y.%m.%d.%H.%M.%S')"
          echo ${{ steps.date.outputs.today }}
      - name: Publish
        run: |
          echo '{"name":"tnxg-oss","version":"${{ steps.date.outputs.today }}","author":"TNXG","license":"TSO-BY"}' > package.json
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}